<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Meet the Piranha</title>
    <!-- bootstrap css cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- own css file -->
    <link rel="stylesheet" href="/styles/style.css">
    <!-- jquery link -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <!-- own js file -->
    <script type="text/javascript" src="/scripts/script.js"></script>
</head>
<body class='container'>
    <div class="row d-flex justify-content-end">
        <nav>
            <a href="/" style="color: red;">Back to Gang</a>
            <p class="d-inline">|</p>
            <a href="/piranha/edit/<%= piranha[0].id%>" style="color: purple;">Edit Info</a>
        </nav>        
    </div>
    <div class="row">
        <div class="col">
            <h1>Meet <%= piranha[0].name%></h1>
            <table>
                <tr>
                    <th>Age:</th>
                    <td>This piranha is <%= piranha[0].age%> years old</td>
                </tr>
                <tr>
                    <th>Facts:</th>
                    <td><%= piranha[0].about%></td>
                </tr>
            </table>
            <a href="delete/<%= piranha[0].id%>">Delete this one</a>
        </div>
    </div>
</body>
</html>